.about {
    width: 100%;
    text-align: center;
    height: calc(100vh - 150px);
    padding-top: 50px;
}

.title {
    font-size: 7.8vw;
    font-weight: 600;
}

.jobTitle {
    font-size: 2.604vw;
    font-weight: normal;
}

.description {
    margin-top: 50px;
}

.quote {
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    .about {
        height: auto !important;
    }
}