.landingSection {
  min-height: 100vh; /* Fallback for older browsers */
  min-height: 100dvh; /* Modern, mobile-perfect full screen height */
  padding: 75px 50px;
  width: 100%;

  /* Centers the child element */
  display: flex;
  align-items: center; /* Centers vertically */
}